
@charset "utf-8";
/* CSS Document */

body{
	background:#222;
	color:#666;
}
a{
	color:#444;
}
img{
	margin: .2em; 
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
	-moz-box-shadow: 0em 0em .5em .2em #000;
	-webkit-box-shadow: 0em 0em .5em .2em #000;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
}
.item{
	opacity:.8;
}
.item:hover{
	opacity:1;
}
#instructions{
	position:fixed;
	border:.05em solid #111;
	bottom:7%;
	left:50%;
	width:8em;
	margin-left:-4em;
	z-index:1;
	font-size:4em;
	background: #111;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-box-shadow: .2em .2em .6em #000;
	-webkit-box-shadow: .2em .2em .6em #000;
	opacity: 1;
	transition: opacity .75s;
	-moz-transition: opacity .75s;
	-webkit-transition: opacity .75s;
	cursor: pointer;
}
.resume{
	opacity:1 !important;
	width:10em !important;
	margin-left:-5em !important;
}
#disclaimer{
	position:fixed;
	right:.2em;
	bottom:.4em;
	background: #111;
	opacity:.6;
	width:32em;
	-moz-box-shadow: .2em .2em .6em #000;
	-webkit-box-shadow: .2em .2em .6em #000;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	transition: opacity .5s;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	z-index:1;
}
#disclaimer:hover{
	opacity: 1;
}
#size{
	font-size:1.5em;
	position:fixed;
	border:.05em solid #111;
	bottom: .4em;
	left:50%;
	width: 16em;
	margin-left:-8em;
	background: #111;
	opacity: .6;
	z-index:1;
	-moz-box-shadow: .2em .2em .6em #000;
	-webkit-box-shadow: .2em .2em .6em #000;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	transition: opacity .5s;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
}
#size:hover{
	opacity: 1;
}

/*mobile hack*/
@media screen and (orientation:portrait)
{
   #disclaimer
   {
    right:auto;
	bottom:auto;
	left:50%;
	top:.4em;
	margin-left:-10em;
	width:20em;
	font-size:2em;
   }
   #instructions
   {
   font-size:6em;
   }
   #size
   {
   font-size:2em;
   }
   img
   {
   width:28em;
   }
   #size
   {
   opacity:0;
   }
   #size:hover
   {
   opacity:0;
   }
}