
@charset "utf-8";
/* CSS Document */

body{
	background:#222;
	color:#666;
}

#header{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	text-indent:35px;
	margin: 0 auto;
	width:800px;
	margin-bottom:10px;
}

hr{
	margin: 20px;
	border:none;
	border-top: 1px solid #111;
	border-bottom: 1px solid #333;
}

p{
	color:#444;
	text-align:left;
	font-size:15px;
	margin-left: 20px;
	margin-bottom: -10px;
}

a{
	color:#444;
}
img{
	border:3px solid #444;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2px;
}
img:hover{
	border-color:#555;
	-moz-box-shadow: 0px 0px 15px #111;
	-webkit-box-shadow: 0px 0px 15px #111;
}
#controls{
position:absolute;
 bottom:0px;
 left:37%;
 z-index:1;
}
strong{
	margin-top: -10px;
}
button{
	margin: 0px;
	margin-top: -0px;
	margin-bottom: -0px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0px 0px 15px 0px #999;
}
#disclaimer{
	right:2px;
	bottom:10px;
	position:absolute;
}
